@import 'https://fonts.googleapis.com/css?family=Lobster|Roboto';



p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 2em;
}

a,h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2.5em;
}

header {
	.navbar{
		margin-bottom: -40px;

	}
    .navbar-default {
		background: url(../img/wave1.png) 0 0 repeat-x;
		position: fixed;
		min-height: 114px;
		z-index: 40;
    }
    .navbar-brand img {
        left: 50%;
        transform: translateX(-50%);
		position: absolute;
		top: 40px;
        width: 100px;
    }
    .navbar-toggle {
        z-index: 3;
    }
    .navbar-default {
        border-color: transparent;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
    	background-color: #d57e87;;
        border-color: transparent;
        margin: 20% 0 0;
    }

	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #FFF;
	}
     li > a {
        font-family: 'Lobster', sans-serif;
        font-size: 1.8em;
        padding: 25px 25px;
    }


	.navbar-default .navbar-nav > li > a {
	    color: #FFF;
	}
}

.carousel{
    margin-bottom: 36px;
    width: 100%;
	.full-screen {
	  background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	}

}

.separator {
    background: url(../img/wave3.png) left top repeat-x;
    margin-top: -56px;
    position: relative;    
}

.separator2 {
    background: url(../img/w4.png) left top repeat-x;
    background-color: #d57e87;
    height: 26px;
    margin-top: -5px;  
}


.services {
    background-color: #E5E1DA;
    margin-bottom: 5px;
    p {
        margin-top: 36px;
        margin-bottom: 22px;
    }
}


.gallery {
    background-color: #D57E87;
    border-bottom: solid 5px #C94452;
    color: #fff;
    h2{
        font-weight: bolder;
        margin: 32px 0 32px 0;
    }
    .photo {
        margin-bottom: 32px;
        .gallery-image {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            height:100%;
            width:100%;
        }
        .gallery-text {
            background-color: #C68B91;
            box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
            z-index: 1;
        }
    }
}

.banner{
    border-bottom: solid 5px #C94452;
    height: 100%;

    .bgimg-1 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/banner.png);
        height: 300px;
        position: relative;
        opacity: .65;
       p {
            color: #000000;
            font-size: 3em;
            font-weight: bolder;
            left: 0;
            line-height: 1.5em;
            position: absolute;
            top: 5%;
            text-align: center;
            text-shadow: 1px 1px #000;
            width: 100%;
        }
    }
}

.more-photos{
    background-color: #E5E1DA;
 
}

.contato{
    background-color: #d57e87;
    margin: -5px 0 0 0;

    h2{
        color: #ffffff;
        font-size: 3em;
        font-weight: bold;
        text-align: center;
    }
    .contact{
        .contact-map{
            iframe{
                width: 100%;
            }
        }
        address{
            font-style: italic;
            p {
                color: #ffffff;
            }
        }
    }
    
}

footer {
    .row{
        margin-right: 0;
    }
    background-color: #222222;
    text-align: center;
    padding-top: 20px;
    .social {
        i { 
            color: #D57E87;
            font-size: 25px;
            padding: 0 25px;
            margin: 0 auto;
        }
    }
    
}


/* Layout para desktops: 769 px ate o maximo de 1232 px. Herda estilos de: Layout para celulares e Layout para tablets. */
@media only screen and (min-width: 768px) {
    header {
        .navbar-brand img {
            left: 50%;
            transform: translateX(-25%);
            width: 150px;
        }
        .navbar-default .navbar-collapse,
        .navbar-default .navbar-form {
			margin: 0;
        }

        .navbar-right {
            float: right !important;
            margin-right: 0;
        }
        li > a {
            font-family: 'Lobster', sans-serif;
            font-size: 1.8em;
            padding: 0px 80px;
            margin-top: 25px;
        }
    }

        .cute-img{
            transform: translateX(50%);
            width: 220px;
        }

    .banner{
        .bgimg-1 {
            p {
                top: 20%;
            }
        }
    }
    .contato{
        .contact-map{
            border-right: solid 3px #ffffff;
        }
        address{
           p {
                padding-left: 20px;
            }
        }
    }
    
}


@media only screen and (min-width: 1200px) {
    header {
        .navbar-brand img {
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
        }

        .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a {
            font-family: 'Lobster', sans-serif;
            font-size: 2em;
            margin: 20px 80px 0 50px;
            &:hover {
                color: #FFC3C9;
                border-bottom: 2px solid #FFC3C9;
                border-top: 2px solid #FFC3C9;
            }
        }
    }
}
