
header {
	.navbar{
		margin-bottom: -40px;
	}
    .navbar-default {
		background: url(../img/wave1.png) 0 0 repeat-x;
		position: fixed;
		min-height: 114px;
		z-index: 40;
    }
    .navbar-brand img {
        left: 5%;
		position: absolute;
		top: 20px;
        width: 100px;
    }
    .navbar-toggle {
        z-index: 3;
    }
    .navbar-default {
        border-color: transparent;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
    	background-color: #57343a;
        border-color: transparent;
        margin: 20% 0 0;
    }

	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #FFF;
	}

	.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	    color: #FFF;
	    background-color: #d57e87;
	}
	.navbar-default .navbar-nav > li > a {
	    color: #FFF;
	}

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    	background-color: #d57e87;
	}
}

.carousel{
    width: 100%;
	.full-screen {
	  background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	}
}

/* Layout para desktops: 769 px ate o maximo de 1232 px. Herda estilos de: Layout para celulares e Layout para tablets. */
@media only screen and (min-width: 769px) {
    header {
        .navbar-brand img {
            
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
        }
        .navbar-default .navbar-collapse,
        .navbar-default .navbar-form {
			margin: 0;
        }

        .navbar-right {
            float: right !important;
            margin-right: 0;
        }
    }
}
